<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
	

	
	<select id="selectCartList" resultType="Cart">
		SELECT *
		FROM
		CART c, MEMBER m
		WHERE c.mno = m.mno and c.mno = #{mno}
	</select>
	
	<insert id="insertCartlist" parameterType="Cart">
		INSERT
		INTO CART
		VALUES(#{mno}, #{pno}, #{ptype}, #{pname}, #{amount}, #{price})
	</insert>

	<delete id="deleteCartlist">
		DELETE
		FROM CART
		WHERE pno = #{pno}
	</delete>
	
	

	
	
	
	
	
	

	
	
	 
	
</mapper>